In [2]:
import pandas as pd
top = pd.read_csv('top_5_productos_geozona.csv')
top[top['point_of_sale_id']==721]

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,valor_total_vendedor
610,721,7501299300909,7.0,145.79,CDMX,1164,México,125.0000,0.0,125.0000,875.0000,NaN,875.0000
633,721,7502214983375,40.0,41.39,CDMX,1152,México,19.5887,0.0,19.5887,783.5480,1.0,783.5480
641,721,7501314701711,4.0,240.04,CDMX,1159,México,186.7600,0.0,186.7600,747.0400,1.0,747.0400
653,721,7501328980119,2.0,387.55,CDMX,1152,México,351.7382,0.0,351.7382,703.4764,1.0,703.4764
685,721,7501089804327,2.0,420.44,CDMX,1164,México,310.0000,0.0,310.0000,620.0000,NaN,620.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1576,721,7502240450773,1.0,23.41,CDMX,1152,México,23.0594,0.0,23.0594,23.0594,1.0,23.0594
1580,721,7502216797376,3.0,7.41,CDMX,1152,México,7.2825,0.0,7.2825,21.8475,1.0,21.8475
1585,721,7502001162518,1.0,29.40,CDMX,1152,México,20.7064,0.0,20.7064,20.7064,1.0,20.7064
1591,721,780083146863,1.0,20.56,CDMX,1152,México,19.2122,0.0,19.2122,19.2122,1.0,19.2122
1598,721,7503001007069,1.0,19.01,CDMX,1152,México,18.1181,0.0,18.1181,18.1181,1.0,18.1181