In [1]:
import pandas as pd
top = pd.read_csv('top_5_productos_geozona.csv')
top[top['point_of_sale_id']==721]

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,valor_total_vendedor
660,721,7501299300909,7.0,145.79,CDMX,1164,México,125.0000,0.0,125.0000,875.0000,NaN,875.0000
682,721,650240017100,9.0,103.80,CDMX,1152,México,84.4962,0.0,84.4962,760.4658,1.0,760.4658
729,721,7502216803855,17.0,42.99,CDMX,1152,México,38.1421,0.0,38.1421,648.4157,1.0,648.4157
768,721,7501287627957,2.0,519.87,CDMX,1153,México,280.0000,0.0,280.0000,560.0000,1.0,560.0000
846,721,7501300407092,1.0,461.36,CDMX,1159,México,422.2400,0.0,422.2400,422.2400,1.0,422.2400
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1654,721,75001872,1.0,27.04,CDMX,1152,México,19.1989,0.0,19.1989,19.1989,1.0,19.1989
1659,721,7503028771684,1.0,19.26,CDMX,1152,México,18.3545,0.0,18.3545,18.3545,1.0,18.3545
1667,721,7502009740459,2.0,8.38,CDMX,1152,México,8.2355,0.0,8.2355,16.4710,1.0,16.4710
1693,721,7502009740466,1.0,8.02,CDMX,1152,México,7.8473,0.0,7.8473,7.8473,1.0,7.8473
1694,721,821998000595,1.0,7.54,CDMX,1152,México,7.4120,0.0,7.4120,7.4120,1.0,7.4120

In [2]:
orders = pd.read_csv('orders_delivered_pos_vendor_geozone.csv')

In [3]:
orders

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,vendor_id,valor_vendedor,geo_zone,country
0,1182,75001865,244731,2025-01-30 01:21:43,5.0,42.710,11,213.55,CDMX,MX
1,1182,75001872,245977,2025-02-03 00:02:51,6.0,27.040,11,162.24,CDMX,MX
2,1182,75006440,250164,2025-02-13 01:47:13,10.0,12.190,34,121.90,CDMX,MX
3,1182,75017255,245977,2025-02-03 00:02:51,5.0,91.730,11,458.65,CDMX,MX
4,1182,75049805,243236,2025-01-27 03:38:49,5.0,34.610,11,173.05,CDMX,MX
...,...,...,...,...,...,...,...,...,...,...
70214,2150,785118753979,250559,2025-02-13 22:46:21,45.0,53.240,10725,2395.80,CDMX,MX
70215,2150,785118754259,250559,2025-02-13 22:46:21,75.0,34.940,10725,2620.50,CDMX,MX
70216,2174,7502009744129,247585,2025-02-06 18:35:52,200.0,35.350,10277,7070.00,Estado de México,MX
70217,2174,7503003738879,247573,2025-02-06 18:18:06,300.0,22.860,10277,6858.00,Estado de México,MX
70218,2175,7502208891228,249471,2025-02-11 20:37:42,1000.0,14.599,10267,14599.00,Jalisco,MX